<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>Angular Upload Widget Example </h3>

  <button id="upload_widget" (click)="openWidget()" class="cloudinary-button">
    Upload files
  </button>

  <p>
    <a href="https://cloudinary.com/documentation/upload_widget" target="_blank">Upload Widget User Guide</a>
  </p>
  <p>
    <a href="https://cloudinary.com/documentation/upload_widget_reference" target="_blank">Upload Widget Reference</a>
  </p>

  <!-- placeholder for uploaded image -->
  <img id="uploadedimage" />

  <!-- cloudinary upload widget -->
  <script
          src="https://widget.cloudinary.com/v2.0/global/all.js"
          type="text/javascript"
  ></script>
</div>
