---
import { getCollection } from "astro:content";
import { CldImage } from 'astro-cloudinary'

import MainLayout from "../../layouts/main.astro";

export async function getStaticPaths() {
  const photos = await getCollection('photos')

  return photos.map(photo => ({
    params: { id: photo.data.asset_id },
    props: { photo }
  }))
}

const { photo } = Astro.props
---

<MainLayout title={`Video`}>
  <section class="mt-4 w-full flex flex-col">
    <CldImage
      src={photo.id}
      width={photo.data.width}
      height={photo.data.height}
      overlays={[{
        position: {
          x: 40,
          y: 40,
          gravity: 'south_west',
        },
        text: {
          color: 'white',
          fontFamily: 'Libre Baskerville',
          fontSize: 80,
          fontWeight: 'bold',
          text: 'Lazar Nikolov Photography'
        }
      }]}
    />
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col p-3 gap-2 bg-neutral-500/10">
        <p class="font-bold text-black/70">Camera</p>
        <p class="md:text-xl">Sony FX30</p>
      </div>
      <div class="flex flex-col p-3 gap-2 bg-neutral-500/10">
        <p class="font-bold text-black/70">Lens</p>
        <p class="md:text-xl">Sigma 18-50mm f2.8</p>
      </div>
      <div class="flex flex-col p-3 gap-2 bg-neutral-500/10">
        <p class="font-bold text-black/70">ISO</p>
        <p class="md:text-xl">800 Base (Cine EI)</p>
      </div>
      <div class="flex flex-col p-3 gap-2 bg-neutral-500/10">
        <p class="font-bold text-black/70">Shutter Speed</p>
        <p class="md:text-xl">1/48</p>
      </div>
    </div>
  </section>
  <section class="mt-6">
    <p class="leading-loose">
      The photograph captures the essence of a serene morning, where the first light of dawn gently caresses the landscape, casting a golden hue over the rolling hills. Each element is meticulously framed, showcasing the delicate interplay between light and shadow, creating a mesmerizing still that evokes a sense of tranquility and wonder.
      In another shot, the lens focuses on a bustling cityscape at twilight, where the vibrant colors of the setting sun blend seamlessly with the artificial lights of the urban jungle. The juxtaposition of natural and man-made elements creates a dynamic and captivating visual narrative, highlighting the beauty and complexity of modern life.
    </p>
  </section>
</MainLayout>
