---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <span class="text-gradient">Cloudinary</span> & <span
        class="text-gradient">Astro</span
      > Upload Widget Example
    </h1>

    <div class="container">
      <p>
        This is an example of using the Cloudinary Upload Widget in an Astro
        project. This example uses an <strong>Unsigned Preset</strong> for
        simplicity. You should consider using a <strong>Signed Preset</strong>
         for production applications.
      </p>
      <span> Resources:</span>
      <ul>
        <li>
          <a
            href="https://cloudinary.com/documentation/upload_widget"
            target="_blank">Cloudinary Upload Widget Documentation</a
          >
        </li>
        <li>
          <a
            href="https://github.com/cloudinary-community/cloudinary-examples"
            target="_blank"
          >
            More Cloudinary Examples
          </a>
        </li>
      </ul>
    </div>
    <button id="upload-button" class="cloudinary-button"> Upload files</button>
    <div class="image-container">
      <img id="uploadedimage" class="uploadedimage" src="" />
    </div>
    <footer>
      <a
        href="https://github.com/cloudinary-community/cloudinary-examples/blob/main/examples/astro-upload-widget-preset"
        target="_blank"
      >
        View Source
      </a>
    </footer>
  </main>
</Layout>

<script
  src="https://upload-widget.cloudinary.com/global/all.js"
  type="text/javascript"></script>

<script>
  // @ts-ignore
  const cloudinary = window && window.cloudinary;
  const myWidget = cloudinary.createUploadWidget(
    {
      cloudName: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME,
      uploadPreset: import.meta.env.PUBLIC_CLOUDINARY_PRESET,
      // cropping: true, //add a cropping step
      // showAdvancedOptions: true,  //add advanced options (public_id and tag)
      // sources: [ "local", "url"], // restrict the upload sources to URL and local files
      // multiple: false,  //restrict upload to a single file
      // folder: "user_images", //upload files to the specified folder
      // tags: ["users", "profile"], //add the given tags to the uploaded files
      // context: {alt: "user_uploaded"}, //add the given context data to the uploaded files
      // clientAllowedFormats: ["images"], //restrict uploading to image files only
      // maxImageFileSize: 2000000,  //restrict file size to less than 2MB
      // maxImageWidth: 2000, //Scales the image down to a width of 2000 pixels before uploading
      // theme: "purple", //change to a purple theme
    },
    // @ts-ignore
    (error, result) => {
      if (!error && result && result.event === "success") {
        console.log("Done! Here is the image info: ", result.info);
        document
          .getElementById("uploadedimage")
          ?.setAttribute("src", result.info.secure_url);
      }
    }
  );

  document.getElementById("upload-button")?.addEventListener(
    "click",
    function () {
      myWidget.open();
    },
    false
  );
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
	gap: 1rem;
  }
  a {
    color: rgb(var(--accent-light));
    text-decoration: none;
  }
  footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
  }
  ul {
    margin: 0;
    list-style: decimal;
    margin-bottom: 1rem;
  }
  a:hover {
    color: rgb(var(--accent-light));
    text-decoration: underline;
  }
  .image-container {
    max-width: 100%;
	margin-bottom: 1rem;
  }
  .container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--accent-light), 25%);
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  .uploadedimage {
    object-fit: contain;
    max-width: 100%;
    border-radius: 0.5rem;
  }
  .cloudinary-button {
    background-color: #e9ecef;
    max-width: max-content;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    color: #212529;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
	margin: 0;
	margin-bottom: 1rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  strong {
    color: rgb(var(--accent-light));
  }
</style>
